<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="creation">
		<p>Here you can create a new questionnaire.</p>	
		<div class="formdiv">
		<form action="#" th:action="@{/AddProductToQuestionnaire}" method="POST">		
			<fieldset>
				<p>Add a product to a new questionnaire:</p>
				<p>
					<label>Choose a date for the questionnaire: </label><input type="date" id="questionnaireDate" name="questionnaireDate"
       				th:value="${#dates.format(today, 'yyyy-MM-dd')}"
       				placeholder="yyyy-mm-dd" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" required>
				</p>
				<p>
					<label for="products">Choose a product: </label> <select name="productId"
						id="productId">
						<option th:each="p : ${products}" th:value="${p.id}"
							th:text="${p.name}" > </option>
					</select>
				</p>		
				<p style="color:red;" th:text=" ${addProdErrorMsg}"></p>
				<p style="color:green;" th:text=" ${successAddMsg}"></p>						
				<input type="submit" name="Add" value="Add">
			</fieldset>
		</form>
		<br> <br>
		<form action="#" th:action="@{/AddQuestionToQuestionnaire}" method="POST">
			<fieldset>
				<p>Add a new marketing question to the questionnaire:</p>
				<p>
					<label for="availableQuestionnaires">Choose a questionnaire:</label> <select name="qId"
						id="qId">
						<option th:each="q : ${availableQuestionnaires}" th:value="${q.id}"
							th:text="${q.date}"></option>
					</select>
				</p>
				<p>
					<label for="marketingQuestion">The question you want to add:</label>
					<textarea id="marketingQuestion" name="marketingQuestion" rows="4" cols="50" required></textarea>
  				</p>
					<p style="color:red;" th:text=" ${addQuestionErrorMsg}"></p>
				<p style="color:green;" th:text=" ${successAddQuestionMsg}"></p>						
				<input type="submit" name="Add" value="Add">
			</fieldset>
		</form>
	</div>
</div>	
</body>

</html>