<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}
</style>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right" th:if="${session.user.role==1}">
		<a th:href="@{/AdminPanel}">Admin panel</a>
	</div>

	<h1>Welcome to the Marketing Questionnaire Home Page</h1>
	<p th:text="${'Nice to see you ' + session.user.username}"></p>
	<section >
		<div th:if="${todayQuestionnaire==null}">
			<span th:text="' No questionnaire available for today! '"  ></span>
		</div>
		<div th:if="${todayQuestionnaire!=null}">
			<span
				th:text="' We got a new questionnaire for you! Have a look at this product: '" ></span>
			<br /> <span
				th:text="${'Product name: ' + todayQuestionnaire.product.getName()}"></span>
			<br /> 
			<div th:if="${todayQuestionnaire.product.getPhotoimageData()!=''}">
			<a> <img width="500px" alt="Product picture" 
				th:src="*{'data:image/png;base64,'+ todayQuestionnaire.product.getPhotoimageData()}">
			</a>
			</div>
			<div th:if="${todayQuestionnaire.product.getPhotoimageData()==''}">
				<p>No image available<p>
			</div>
		</div>
		<section>
		<br />
		<div th:if="${todayQuestionnaire.product.getReviews()!=null}">
			<p>Read some reviews of the product:<p>
			<table style="width: 70%"
				th:each="review : ${todayQuestionnaire.product.getReviews()}">
				<tr>
					<th><div th:if="${review.getReviewerName()!=''}">
							<span th:text="${review.getReviewerName()}"></span>
						</div>
						<div th:if="${#strings.isEmpty(review.getReviewerName())}">
							<span>Unknown reviewer</span>
						</div></th>
				</tr>
				<tr>
					<td><span th:text="${review.getReviewText()}"></span></td>
				</tr>

			</table>
		</div>
		<div th:if="${todayQuestionnaire.product.getReviews()==null}">
		<p>No reviews available for this product.</p>
		</div>
	</section>
	</section>
	
	<br />
	<div th:if="${todayQuestionnaire!=null}">
		<form action="Questionnaire" method="POST">
			<input type="submit" value="Fill the questionnaire">
		</form>
		<form action="Leaderboard" method="POST">
			<input type="submit" value="Go check out the leaderboard">
		</form>
	</div>
</body>
</html>