<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}
</style>
<meta charset="ISO-8859-1">
<title>Questionnaire</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Go to Homepage</a>
	</div>
	
	<form action="Questionnaire" method="POST">
	<label th:text= "${question}" ></label><br>  
    <input type="text" name="answer" required><br>
    <input type="submit" value="Next">    
    </form>
    
    <div>
			<form  th:if="${session.questions_done != 0}" action="Back" method="POST">
				<input type="submit" value="Previous">
			</form>
		</div>

</body>
</html>